# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_openmp_mutex
blinker
brotli-python
bzip2
ca-certificates
certifi
charset-normalizer
click
dash
dash-bootstrap-components
flask
gunicorn
idna
importlib-metadata
itsdangerous
jinja2
ld_impl_linux-64
libexpat
libffi
libgcc-ng
libgomp
libnsl
libsqlite
libstdcxx-ng
libuuid
libxcrypt
libzlib
markupsafe
ncurses
nest-asyncio
openssl
packaging
pip
plotly
pysocks
python
python_abi
readline
requests
retrying
setuptools
six
tenacity
tk
typing-extensions
typing_extensions
tzdata
urllib3
werkzeug
wheel
xz
zipp
